<div class="todo-list">
  <div class="todo-list__header">
    <h1>Todo List</h1>
    <div class="todo-list__input">
      <input
        type="text"
        [(ngModel)]="newTodo"
        (keyup.enter)="addTodo()"
        placeholder="Add a new todo..."
      >
      <button (click)="addTodo()">Add</button>
    </div>
  </div>

  <div class="todo-list__filters">
    <select [ngModel]="currentFilter" (ngModelChange)="setFilter($event)">
      <option value="all">All</option>
      <option value="completed">Completed</option>
      <option value="incomplete">Incomplete</option>
    </select>
  </div>

  <div class="todo-list__items">
    <ng-container *ngIf="filteredTodos$ | async as todos">
      <app-todo-item
        *ngFor="let todo of todos"
        [todo]="todo"
        (toggle)="onToggleTodo(todo.id)"
        (delete)="onDeleteTodo(todo.id)"
      ></app-todo-item>
    </ng-container>
  </div>
</div>
